BAILEYS_AUTH_DIR=.baileys_auth
WHATSAPP_BOT_NAME=Asisten Farros
LOG_LEVEL=info
ASISTEN_FARROS_API_PORT=3007
ASISTEN_FARROS_API_BASE_URL=http://127.0.0.1:3007
APP_PUBLIC_URL=https://tugas.farros.space
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret
GOOGLE_REDIRECT_URI=https://tugas.farros.space/auth/google/callback
